In [1]:
import pandas as pd

In [2]:
# Load the CSV file into a DataFrame
df = pd.read_csv('./email-Eu-core-sna-project.csv', header=None)
df

             0
0          0 1
1          2 3
2          2 4
3          5 6
4          5 7
...        ...
25566  420 143
25567  174 859
25568  440 460
25569   52 786
25570  506 932

[25571 rows x 1 columns]

In [3]:
df_split = df[0].str.split(' ', n=1, expand=True)

# Rename the columns (optional)
df_split.columns = ['Source', 'Target']

# Save the DataFrame to a new CSV file
df_split.to_csv('main-email-Eu-core-sna-project.csv', index=False)

# Display the resulting DataFrame
print(df_split)

      Source Target
0          0      1
1          2      3
2          2      4
3          5      6
4          5      7
...      ...    ...
25566    420    143
25567    174    859
25568    440    460
25569     52    786
25570    506    932

[25571 rows x 2 columns]